<?xml version="1.0"?>
<launch>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find amr_2wr)/worlds/hex_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find amr_2wr)/urdf/amr_2wr.xacro'"/>

  <arg name="x" default="-2.0"/>
  <arg name="y" default="-0.5"/>
  <arg name="z" default="0.0"/>
  
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model amr_2wr -x $(arg x) -y $(arg y) -z $(arg z)"/>
  
</launch>
